# Ignore paths that contain user-generated content.
docroot/files
docroot/sites/*/files
docroot/sites/*/private

.project
docroot/sites/all/themes/divine2013/.sass-cache/
docroot/sites/divineuk.dev.local/
