/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
@font-face {
  font-family: 'OPTISport-Script';
  src: url("fonts/optispos.eot");
  src: url("fonts/optispos.eot?#iefix") format("embedded-opentype"), url("fonts/optispos.woff") format("woff"), url("fonts/optispos.ttf") format("truetype"), url("fonts/optispos.svg#optisport-scriptscript") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*Custom Mixins*/
@font-face {
  font-family: 'gotham-rounded';
  src: url("../fonts/GothamRounded-Book.eot");
  src: url("../fonts/GothamRounded-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamRounded-Book.woff") format("woff"), url("../fonts/GothamRounded-Book.ttf") format("truetype"), url("../fonts/GothamRounded-Book.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Bold.eot");
  src: url("../fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/*
 * Body
 */
/* line 34, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 46, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 49, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 63, ../sass/pages.scss */
#swoosh {
  background: url('../images/wrapper/swoosh-top.png?1534849167') no-repeat;
  background-position: -102px;
  height: 35px;
  width: 100%;
  position: relative;
  margin: 0 -1em;
  padding: 0 1em;
  clear: both;
}
@media (min-width: 20em) {
  /* line 63, ../sass/pages.scss */
  #swoosh {
    background-position: right;
  }
}
@media (min-width: 32em) {
  /* line 63, ../sass/pages.scss */
  #swoosh {
    background-position: center;
    clear: none;
    margin-bottom: -13px;
  }
}
@media (min-width: 60em) {
  /* line 63, ../sass/pages.scss */
  #swoosh {
    margin: 2px -2.5em 0 -2.5em;
    padding: 0 2.5em;
  }
}

/* line 91, ../sass/pages.scss */
.section-softspot #swoosh,
.section-thank-you #swoosh {
  background: url('../images/wrapper/swoosh-top-color.png?1534849167') no-repeat;
}

@media (min-width: 32em) {
  /* line 96, ../sass/pages.scss */
  .no-menu #swoosh {
    clear: both;
    margin-bottom: 0;
  }
}

/* line 103, ../sass/pages.scss */
#header {
  background: #000000;
  color: #fff;
  margin-bottom: -1px;
}

/* line 111, ../sass/pages.scss */
.front #block-block-14 {
  display: none;
}
@media (min-width: 32em) {
  /* line 117, ../sass/pages.scss */
  .front.sidebar-first #content {
    width: 59.18367%;
    float: left;
    margin-right: 2.04082%;
    display: inline;
  }
  /* line 128, ../sass/pages.scss */
  .front.sidebar-first .sidebars {
    width: 38.77551%;
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline;
  }
}
@media (min-width: 49em) {
  /* line 136, ../sass/pages.scss */
  .front #header {
    min-height: 465px;
    position: relative;
  }
  /* line 141, ../sass/pages.scss */
  .front #header .banner {
    background-image: url('../images/homepage-banner/love-chocolate-newbars.jpg?1534849167');
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  /* line 152, ../sass/pages.scss */
  .front #header #logo h1 {
    height: 105px;
  }
  /* line 156, ../sass/pages.scss */
  .front #header #block-block-14 {
    display: block;
    width: 515px;
    height: 115px;
    position: absolute;
    top: 175px;
    margin-left: -348px;
    background: transparent;
  }
  /* line 165, ../sass/pages.scss */
  .front #header #block-block-14 p {
    display: block;
    height: 100%;
  }
  /* line 170, ../sass/pages.scss */
  .front #header #block-block-14 a {
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    height: 100%;
  }
  /* line 179, ../sass/pages.scss */
  .front #header #swoosh, .front #header .region-nav {
    position: relative;
    top: 294px;
  }
}

/* line 187, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  width: 58.33333%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  margin-top: 0.5em;
}
/* line 193, ../sass/pages.scss */
.region-header .block {
  background: #000000;
  height: 1.6em;
  margin: 0.5em 0 0 0.5em;
  clear: both;
  width: 100%;
  font-family: "Avenir LT W01 95 Black", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  padding: 0.4em 0;
  font-size: 0.6em;
  line-height: 1.66667em;
}
@media (min-width: 32em) {
  /* line 187, ../sass/pages.scss */
  .region-header {
    width: 59.18367%;
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline;
    margin-top: 1em;
  }
  /* line 210, ../sass/pages.scss */
  .region-header .block {
    clear: none;
    width: 8em;
    float: right;
    margin-top: 1em;
    margin-left: 1em;
    font-size: 0.8em;
    line-height: 1.5625em;
    line-height: 1.5em;
  }
}

/*
 * Main (container for everything else)
 */
/* line 231, ../sass/pages.scss */
#main {
  background: #ffffff;
}

/* line 235, ../sass/pages.scss */
.section-softspot #main,
.section-thank-you #main {
  max-width: 1072px;
  padding: 0;
  background: url('../images/bg-softspot.png?1534849167') #72562b repeat-x;
}

/*
 * Content
 */
/* line 248, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 250, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 255, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 264, ../sass/pages.scss */
.view-recipes a:hover img, .view-sidebar-blocks a:hover img {
  -moz-box-shadow: 0px 5px #58595B;
  -webkit-box-shadow: 0px 5px #58595B;
  box-shadow: 0px 5px #58595B;
}

/* line 273, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 283, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 290, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 296, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 302, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 308, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 312, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 320, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 325, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 332, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 339, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 343, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 347, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 351, ../sass/pages.scss */
#content {
  /* Wrapper for the actual page content */
}

/* line 355, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 360, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 369, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 376, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 380, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 386, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 390, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * Sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/* line 400, ../sass/pages.scss */
.sidebars {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

@media (min-width: 32em) {
  /* line 406, ../sass/pages.scss */
  .sidebar-first #content {
    width: 69.38776%;
    float: left;
    margin-right: 2.04082%;
    display: inline;
  }

  /* line 411, ../sass/pages.scss */
  .sidebars {
    width: 28.57143%;
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline;
  }
}
@media (min-width: 49em) {
  /* line 419, ../sass/pages.scss */
  .sidebar-first #content {
    width: 79.59184%;
    float: left;
    margin-right: 2.04082%;
    display: inline;
  }

  /* line 424, ../sass/pages.scss */
  .sidebars {
    width: 18.36735%;
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline;
  }

  /* line 429, ../sass/pages.scss */
  .adinkra-sidebar .sidebars {
    background: url('../images/symbols/adinkra-large.png?1534849167') no-repeat;
    padding-bottom: 220px;
    background-position: left bottom;
  }
  /* line 435, ../sass/pages.scss */
  .adinkra-sidebar.good-stuff .sidebars {
    background-position: -200px bottom;
  }
}
/*
 * Footer
 */
/* line 446, ../sass/pages.scss */
#footer {
  background: url('../images/wrapper/swoosh-bottom.png?1534849167') #000000 no-repeat top right;
  padding-top: 6em;
  margin-top: -2px;
  overflow: hidden;
}
@media (min-width: 32em) {
  /* line 446, ../sass/pages.scss */
  #footer {
    background-position-x: center;
  }
}

/* line 457, ../sass/pages.scss */
.section-softspot #footer,
.section-thank-you #footer {
  background: #000;
}

/*
 * Page bottom
 */
/* line 467, ../sass/pages.scss */
.region-content-bottom {
  /* Wrapper for any blocks placed in the content bottom region */
  clear: both;
  padding: 2em 0;
}
@media (min-width: 32em) {
  /* line 467, ../sass/pages.scss */
  .region-content-bottom {
    width: 79.59184%;
    float: left;
    margin-right: 2.04082%;
    display: inline;
  }
}

/* line 477, ../sass/pages.scss */
.region-content-bottom {
  width: 100%;
  margin: 0;
}

/*
 * Page bottom
 */
/* By default hide the logo on the front page. */
/* line 489, ../sass/pages.scss */
.front #logo h1 {
  background: none;
}

@media (max-width: 49em) {
  /* line 497, ../sass/pages.scss */
  .front #header {
    background-image: none !important;
  }
  /* line 501, ../sass/pages.scss */
  .front #logo {
    display: block;
  }
  /* line 504, ../sass/pages.scss */
  .front #logo h1 {
    background: url("../images/wrapper/divine-chocolate.png") no-repeat !important;
    background-size: contain !important;
  }

  /* line 511, ../sass/pages.scss */
  .home-video-block, .home-video-wrapper {
    width: 100% !important;
  }

  /* line 517, ../sass/pages.scss */
  #block-menu-menu-footer ul li:nth-child(even) {
    float: left !important;
  }
}
/** press release page heading text change **/
/* line 525, ../sass/pages.scss */
body.node-type-press-release h1#page-title {
  font-family: 'Gotham';
  font-weight: bold;
  font-style: normal;
  font-size: 1.625em;
  width: 72%;
}

/* line 534, ../sass/pages.scss */
.campaign {
  display: block;
}
/* line 537, ../sass/pages.scss */
.campaign * {
  color: #000000;
}
/* line 541, ../sass/pages.scss */
.campaign h1,
.campaign h2 {
  color: #00AEEF;
}
/* line 546, ../sass/pages.scss */
.campaign img {
  padding-bottom: 3em;
}
/* line 550, ../sass/pages.scss */
.campaign section {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 4em;
}
/* line 556, ../sass/pages.scss */
.campaign .campaign-col-full-width {
  overflow: hidden;
  *zoom: 1;
  max-width: 380px;
  margin-bottom: 3em;
}
/* line 563, ../sass/pages.scss */
.campaign .campaign-col-left,
.campaign .campaign-col-right {
  box-sizing: border-box;
}
@media (min-width: 32em) {
  /* line 563, ../sass/pages.scss */
  .campaign .campaign-col-left,
  .campaign .campaign-col-right {
    padding: 0 4em;
  }
}
@media (min-width: 49em) {
  /* line 572, ../sass/pages.scss */
  .campaign .campaign-col-left {
    width: 48.97959%;
    float: left;
    margin-right: 2.04082%;
    display: inline;
  }
}
@media (min-width: 49em) {
  /* line 578, ../sass/pages.scss */
  .campaign .campaign-col-right {
    width: 48.97959%;
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline;
  }
}
/* line 585, ../sass/pages.scss */
.campaign .cta {
  overflow: hidden;
  *zoom: 1;
  margin: 2em 0 3em;
}
/* line 590, ../sass/pages.scss */
.campaign .cta a {
  font-size: 1.3em;
  line-height: 1.34615em;
  border: 1px solid #A39161;
  border-radius: 6px;
  display: inline-block;
  letter-spacing: 1px;
  padding: .5em 1.5em;
  transition: all .3s ease;
}
/* line 600, ../sass/pages.scss */
.campaign .cta a:hover, .campaign .cta a:focus {
  background: #793F0D;
  border-color: #793F0D;
  color: #A39161;
  text-decoration: none;
}
/* line 612, ../sass/pages.scss */
.campaign .flavours-list > div {
  display: flex;
  font-weight: bold;
  margin-bottom: 2em;
}
/* line 617, ../sass/pages.scss */
.campaign .flavours-list > div:last-child {
  margin-bottom: 0;
}
/* line 621, ../sass/pages.scss */
.campaign .flavours-list > div:before {
  background-size: contain !important;
  content: '';
  flex: 1 0 60px;
  height: 60px;
  padding-right: 2em;
  width: 60px;
}
/* line 631, ../sass/pages.scss */
.campaign .flavours-list > div.icon-lemon:before {
  background: url('../images/symbols/flavours/lemon.png?1535536337') no-repeat;
}
/* line 637, ../sass/pages.scss */
.campaign .flavours-list > div.icon-cocoa:before {
  background: url('../images/symbols/flavours/nibs.png?1535536337') no-repeat;
}
/* line 643, ../sass/pages.scss */
.campaign .flavours-list > div.icon-ginger:before {
  background: url('../images/symbols/flavours/ginger.png?1535536337') no-repeat;
}
/* line 649, ../sass/pages.scss */
.campaign .flavours-list > div.icon-blueberry:before {
  background: url('../images/symbols/flavours/blueberry.png?1535536337') no-repeat;
}
/* line 655, ../sass/pages.scss */
.campaign .flavours-list > div.icon-dark:before {
  background: url('../images/symbols/flavours/dark.png?1535536337') no-repeat;
}

/* line 664, ../sass/pages.scss */
.gstuff-banner {
  background: #2c2b2b;
  float: left;
  margin-bottom: 4em;
  position: relative;
}
/* line 670, ../sass/pages.scss */
.gstuff-banner .gstuff-banner__left,
.gstuff-banner .gstuff-banner__right {
  width: 100%;
  float: left;
  margin-right: 2.04082%;
  display: inline;
  box-sizing: border-box;
}
/* line 677, ../sass/pages.scss */
.gstuff-banner .gstuff-banner__left {
  height: 360px;
  position: relative;
}
@media (min-width: 49em) {
  /* line 677, ../sass/pages.scss */
  .gstuff-banner .gstuff-banner__left {
    width: 59.18367%;
    float: left;
    margin-right: 2.04082%;
    display: inline;
  }
}
/* line 686, ../sass/pages.scss */
.gstuff-banner .gstuff-banner__right {
  padding: 0 2em;
  text-align: center;
}
/* line 690, ../sass/pages.scss */
.gstuff-banner .gstuff-banner__right * {
  color: #ffffff;
  font-family: "Avenir LT W01 65 Medium", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  text-transform: none;
}
@media (min-width: 49em) {
  /* line 686, ../sass/pages.scss */
  .gstuff-banner .gstuff-banner__right {
    width: 38.77551%;
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline;
    padding: 3em 2em 0 0;
    text-align: left;
  }
}
/* line 703, ../sass/pages.scss */
.gstuff-banner .gstuff-banner__bg {
  background: url('../images/goodstuff-banner/gstuff-banner-bg.png?1535536337') no-repeat top right;
  background-size: contain;
  height: 100%;
  left: 3em;
  opacity: 0.16;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 714, ../sass/pages.scss */
.gstuff-banner .gstuff-banner__img {
  background: url('../images/goodstuff-banner/gstuff-banner-img.png?1535536337') no-repeat center center;
  background-size: contain;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 724, ../sass/pages.scss */
.gstuff-banner .readmore-btn {
  font-size: 1.3em;
  line-height: 1.34615em;
  background: #4d3fb5;
  border: 1px solid #ffffff;
  border-radius: 6px;
  display: block;
  letter-spacing: 1px;
  margin: 2em 0;
  padding: .5em 1.5em;
  text-align: center;
  transition: all .3s ease;
}
/* line 737, ../sass/pages.scss */
.gstuff-banner .readmore-btn:hover, .gstuff-banner .readmore-btn:focus {
  background: #ffffff;
  border-color: #4d3fb5;
  color: #4d3fb5;
  text-decoration: none;
}
